<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="com.property.models.Login"/>
		<mapping class="com.property.models.Register"/>
		<mapping class="com.property.models.SpringUsers"/>
		<mapping class="com.property.models.SpringRoles"/>
		<mapping class="com.property.models.PostProperty"/>
		<mapping class="com.property.models.PostRequirement"/>
		<mapping class="com.property.models.Search"/>
		
	</session-factory>
</hibernate-configuration>
